<ons-page id="listView">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button id="button-toggle-menu">
                <ons-icon icon="ion-navicon, material:md-menu" size="32px, material:24px"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Todos</div>
    </ons-toolbar>
    <ons-fab position="right bottom" id="button-new-note">
        <ons-icon icon="md-plus"></ons-icon>
    </ons-fab>
    <ons-list style="font-size: 20px;" id="listItem">
        <ons-list-item>
            <ons-row>
                <ons-col width="90%">VCC</ons-col>
                <ons-col style="margin: 0 auto;">
                    <ons-icon style="display: block;" icon="md-close"></ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>